@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

main {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
}

section {
  position: relative;
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  scroll-snap-align: start;
}

section:nth-child(1) {
  background: #ffe9fb url(images/bg1.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(2) {
  background: #fefed2 url(images/bg2.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(3) {
  background: #ffefde url(images/bg3.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(4) {
  background: #f3faf2 url(images/bg4.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}

section:nth-child(5) {
  background: #e6fee2 url(images/bg5.jpg) center center;
  background-size: cover;
  background-attachment: fixed;
}

section .contents {
  position: absolute;
  bottom: 30px;
  left: 30px;
  max-width: 700px;
}

section .contents h2 {
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 20px;
  background: #fff;
  color: #111;
  font-size: 2rem;
  font-weight: 600;
}

section .contents p {
  padding: 20px;
  font-weight: 300;
  color: #111;
  background: #fff;
}
