.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #01070a;
  overflow: hidden;
  cursor: none;
}

.scene .rocket {
  position: absolute;
  animation: animate 0.2s ease infinite;
  user-select: none;
}

.scene .rocket img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.scene .rocket::before {
  content: "";
  position: absolute;
  bottom: -20vh;
  left: 50%;
  width: 10px;
  height: 20vh;
  transform: translateX(-50%);
  background: linear-gradient(#00d0ff, transparent);
  animation: animateRocket 0.2s ease infinite;
}

.scene .rocket::after {
  content: "";
  position: absolute;
  bottom: -20vh;
  left: 50%;
  width: 10px;
  height: 20vh;
  transform: translateX(-50%);
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
  animation: animateRocket 0.2s ease infinite;
}

.scene i {
  position: absolute;
  top: -10vh;
  background: rgba(255, 255, 255, 0.5);
  animation: animateStars linear infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translateY(-2px);
  }
  50% {
    transform: translateY(2px);
  }
}

@keyframes animateRocket {
  0%,
  100% {
    height: 20vh;
  }
  50% {
    bottom: -15vh;
    height: 15vh;
  }
}

@keyframes animateStars {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(110vh);
  }
}
